<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.4//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--<mappers>
    <mapper resource="mapper/SysUserMapper.xml"/>
        <mapper resource="mapper/SysResourcesMapper.xml"/>
        <mapper resource="mapper/SysRoleMapper.xml"/>
        <mapper resource="mapper/SysRoleUserMapper.xml"/>
        <mapper resource="mapper/SysRoleResourcesMapper.xml"/>
        <mapper resource="mapper/TargetInfoMapper.xml"/>-

</mappers>-->

</configuration>