/* General Demo Style */


html { height: 100%; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: hidden;
	overflow-x: hidden;

    background: #7f9b4e url(../../images/bg3.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.container > header h1,
.container > header h2 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
}



.container {
	width: 400px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin: -150px 0 0 -200px;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.container > header {
	margin: 10px ;
	padding: 20px 10px 0 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	text-align: center;
}

.container > header h1 {
	font-size: 30px;
	line-height: 38px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.container > header h2 {
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.layui-from-a{
    cursor:pointer;
    color: #5FB878;
}
.page_layout{
	margin: 0 auto;
}


/* 提示页 */
.layadmin-tips{margin-top: 30px; text-align: center;}
.layadmin-tips .layui-icon[face]{display: inline-block; font-size: 300px; color: #393D49;}
.layadmin-tips .layui-text{width: 500px; margin: 30px auto; padding-top: 20px; border-top: 5px solid #009688; font-size: 16px;}
.layadmin-tips h1{font-size: 100px; line-height: 100px; color: #009688;}
.layadmin-tips .layui-text .layui-anim{display: inline-block;}



