<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaols.blog.mapper.BlogCategoryMapper">
  <resultMap id="BaseResultMap" type="com.zhaols.blog.entity.BlogCategory">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="BLOGGER_ID" jdbcType="VARCHAR" property="bloggerId" />
    <result column="BLOG_ID" jdbcType="VARCHAR" property="blogId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="UPDATOR" jdbcType="VARCHAR" property="updator" />
    <result column="UPDATOR_NAME" jdbcType="VARCHAR" property="updatorName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATEGORY_NAME, BLOGGER_ID, BLOG_ID, STATUS, UPDATOR, UPDATOR_NAME, UPDATE_TIME, 
    CREATOR, CREATOR_NAME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BLOG_CATEGORY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BLOG_CATEGORY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhaols.blog.entity.BlogCategory">
    insert into BLOG_CATEGORY (ID, CATEGORY_NAME, BLOGGER_ID, 
      BLOG_ID, STATUS, UPDATOR, 
      UPDATOR_NAME, UPDATE_TIME, CREATOR, 
      CREATOR_NAME, CREATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{bloggerId,jdbcType=VARCHAR}, 
      #{blogId,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{updator,jdbcType=VARCHAR}, 
      #{updatorName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaols.blog.entity.BlogCategory">
    insert into BLOG_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="categoryName != null">
        CATEGORY_NAME,
      </if>
      <if test="bloggerId != null">
        BLOGGER_ID,
      </if>
      <if test="blogId != null">
        BLOG_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="updator != null">
        UPDATOR,
      </if>
      <if test="updatorName != null">
        UPDATOR_NAME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="bloggerId != null">
        #{bloggerId,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorName != null">
        #{updatorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaols.blog.entity.BlogCategory">
    update BLOG_CATEGORY
    <set>
      <if test="categoryName != null">
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="bloggerId != null">
        BLOGGER_ID = #{bloggerId,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        BLOG_ID = #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="updator != null">
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorName != null">
        UPDATOR_NAME = #{updatorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaols.blog.entity.BlogCategory">
    update BLOG_CATEGORY
    set CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      BLOGGER_ID = #{bloggerId,jdbcType=VARCHAR},
      BLOG_ID = #{blogId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      UPDATOR = #{updator,jdbcType=VARCHAR},
      UPDATOR_NAME = #{updatorName,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>