<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaols.SSMdome.mapper.SysRoleUserMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.util.HashMap" >
    delete from SYS_ROLE_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="java.util.HashMap" >
    insert into SYS_ROLE_USER (USER_ID, ROLE_ID)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
</mapper>