<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaols.SSMdome.mapper.SysUserMapper" >
  <resultMap id="ResultSysUserMap" type="com.zhaols.SSMdome.entity.SysUser" >
    <id column="U_ID" property="uId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="U_NICKNAME" property="uNickname" jdbcType="VARCHAR" />
    <result column="U_PASSWORD" property="uPassword" jdbcType="VARCHAR" />
    <result column="U_PHONE" property="uPhone" jdbcType="VARCHAR" />
    <result column="U_SEX" property="uSex" jdbcType="INTEGER" />
    <result column="U_BIRTHDAY" property="uBirthday" jdbcType="TIMESTAMP" />
    <result column="U_NAME" property="uName" jdbcType="VARCHAR" />
    <result column="U_EMAIL" property="uEmail" jdbcType="VARCHAR" />
    <result column="U_INTRO" property="uIntro" jdbcType="VARCHAR" />
    <result column="U_HEADPORTRAIT" property="uHeadportrait" jdbcType="VARCHAR" />
    <result column="U_AGE" property="uAge" jdbcType="INTEGER" />
    <result column="U_USERSTATEID" property="uUserstateid" jdbcType="VARCHAR" />
    <result column="U_RANK" property="uRank" jdbcType="INTEGER" />
    <result column="U_SCORE" property="uScore" jdbcType="INTEGER" />
    <result column="U_REGISTERTIME" property="uRegistertime" jdbcType="TIMESTAMP" />
    <result column="U_LOGINTIME" property="uLogintime" jdbcType="TIMESTAMP" />
    <result column="U_LOGINIP" property="uLoginip" jdbcType="VARCHAR" />
    <result column="U_ACTIVATECODE" property="uActivatecode" jdbcType="VARCHAR" />
    <result column="U_SALT" property="uSalt" jdbcType="VARCHAR" />
    <result column="U_RATE" property="uRate" jdbcType="DOUBLE" />
    <result column="UPDATOR" jdbcType="VARCHAR" property="updator" />
    <result column="UPDATOR_NAME" jdbcType="VARCHAR" property="updatorName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="BASE64_PASSWORD" jdbcType="VARCHAR" property="base64Password" />
  </resultMap>
  <sql id="Base_Column_List" >
    U_ID, USER_NAME, U_NICKNAME, U_PASSWORD, U_PHONE, U_SEX, U_BIRTHDAY, U_NAME,
    U_EMAIL, U_INTRO, U_HEADPORTRAIT, U_AGE, U_USERSTATEID, U_RANK, U_SCORE, U_REGISTERTIME, 
    U_LOGINTIME, U_LOGINIP, U_ACTIVATECODE, U_SALT,U_RATE,UPDATOR, UPDATOR_NAME, UPDATE_TIME, CREATOR, CREATOR_NAME, CREATE_TIME,BASE64_PASSWORD
  </sql>

  <sql id="_common_ser">
    <if test="userName != null"> AND USER_NAME like '%${userName}%'</if>
    <if test="role != null"> AND U_ID IN (SELECT USER_ID FROM SYS_ROLE_USER WHERE ROLE_ID = #{role})</if>
  </sql>
    <select id="select" parameterType="java.util.HashMap" resultMap="ResultSysUserMap">
        SELECT * FROM SYS_USER WHERE U_USERSTATEID = '11'
        <include refid="_common_ser"/>
        order by U_SCORE desc
    </select>
    <select id="count" parameterType="java.util.HashMap" resultType="int">
        SELECT count(*) FROM SYS_USER WHERE U_USERSTATEID = '11'
        <include refid="_common_ser"/>
    </select>

  <select id="selectByPrimaryKey" resultMap="ResultSysUserMap" parameterType="java.lang.String" >
    select * from SYS_USER
    where U_ID = #{Id,jdbcType=VARCHAR} and U_USERSTATEID = '11'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update SYS_USER set U_USERSTATEID = '33'
    where U_ID = #{Id,jdbcType=VARCHAR}
  </delete>
    <!--根据 登录名查询用户信息-->
  <select id="getUserByUloginid" resultMap="ResultSysUserMap" parameterType="java.lang.String">
    select * from SYS_USER where USER_NAME = #{username,jdbcType=VARCHAR} and U_USERSTATEID = '11'
  </select>
  <select id="getAll" resultMap="ResultSysUserMap" >
    SELECT * FROM SYS_USER WHERE U_USERSTATEID = '11' order by U_SCORE desc
  </select>
  <insert id="insertSelective" parameterType="com.zhaols.SSMdome.entity.SysUser" >
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        U_ID,
      </if>
      <if test="userName != null" >
          USER_NAME,
      </if>
      <if test="uNickname != null" >
        U_NICKNAME,
      </if>
      <if test="uPassword != null" >
        U_PASSWORD,
      </if>
      <if test="uPhone != null" >
        U_PHONE,
      </if>
      <if test="uSex != null" >
        U_SEX,
      </if>
      <if test="uBirthday != null" >
        U_BIRTHDAY,
      </if>
      <if test="uName != null" >
        U_NAME,
      </if>
      <if test="uEmail != null" >
        U_EMAIL,
      </if>
      <if test="uIntro != null" >
        U_INTRO,
      </if>
      <if test="uHeadportrait != null" >
        U_HEADPORTRAIT,
      </if>
      <if test="uAge != null" >
        U_AGE,
      </if>
      <if test="uUserstateid != null" >
        U_USERSTATEID,
      </if>
      <if test="uRank != null" >
        U_RANK,
      </if>
      <if test="uScore != null" >
        U_SCORE,
      </if>
      <if test="uRegistertime != null" >
        U_REGISTERTIME,
      </if>
      <if test="uLogintime != null" >
        U_LOGINTIME,
      </if>
      <if test="uLoginip != null" >
        U_LOGINIP,
      </if>
      <if test="uActivatecode != null" >
        U_ACTIVATECODE,
      </if>
      <if test="uSalt != null" >
        U_SALT,
      </if>
      <if test="uRate != null" >
        U_RATE,
      </if>
      <if test="updator != null" >
        UPDATOR,
      </if>
      <if test="updatorName != null" >
        UPDATOR_NAME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="base64Password != null" >
        BASE64_PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="uNickname != null" >
        #{uNickname,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=INTEGER},
      </if>
      <if test="uBirthday != null" >
        #{uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null" >
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null" >
        #{uIntro,jdbcType=VARCHAR},
      </if>
      <if test="uHeadportrait != null" >
        #{uHeadportrait,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        #{uAge,jdbcType=INTEGER},
      </if>
      <if test="uUserstateid != null" >
        #{uUserstateid,jdbcType=VARCHAR},
      </if>
      <if test="uRank != null" >
        #{uRank,jdbcType=INTEGER},
      </if>
      <if test="uScore != null" >
        #{uScore,jdbcType=INTEGER},
      </if>
      <if test="uRegistertime != null" >
        #{uRegistertime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLogintime != null" >
        #{uLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLoginip != null" >
        #{uLoginip,jdbcType=VARCHAR},
      </if>
      <if test="uActivatecode != null" >
        #{uActivatecode,jdbcType=VARCHAR},
      </if>
      <if test="uSalt != null" >
        #{uSalt,jdbcType=VARCHAR},
      </if>
      <if test="uRate != null" >
        #{uRate,jdbcType=INTEGER},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=INTEGER},
      </if>
      <if test="updatorName != null" >
        #{updatorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="base64Password != null" >
        #{base64Password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaols.SSMdome.entity.SysUser" >
    update SYS_USER
    <set >
      <if test="uNickname != null" >
        U_NICKNAME = #{uNickname,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        U_PASSWORD = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        U_PHONE = #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        U_SEX = #{uSex,jdbcType=DECIMAL},
      </if>
      <if test="uBirthday != null" >
        U_BIRTHDAY = #{uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="uName != null" >
        U_NAME = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null" >
        U_EMAIL = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null" >
        U_INTRO = #{uIntro,jdbcType=VARCHAR},
      </if>
      <if test="uHeadportrait != null" >
        U_HEADPORTRAIT = #{uHeadportrait,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        U_AGE = #{uAge,jdbcType=INTEGER},
      </if>
      <if test="uUserstateid != null" >
        U_USERSTATEID = #{uUserstateid,jdbcType=VARCHAR},
      </if>
      <if test="uRank != null" >
        U_RANK = #{uRank,jdbcType=INTEGER},
      </if>
      <if test="uScore != null" >
        U_SCORE = #{uScore,jdbcType=INTEGER},
      </if>
      <if test="uRegistertime != null" >
        U_REGISTERTIME = #{uRegistertime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLogintime != null" >
        U_LOGINTIME = #{uLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLoginip != null" >
        U_LOGINIP = #{uLoginip,jdbcType=VARCHAR},
      </if>
      <if test="uActivatecode != null" >
        U_ACTIVATECODE = #{uActivatecode,jdbcType=VARCHAR},
      </if>
      <if test="uSalt != null" >
        U_SALT = #{uSalt,jdbcType=INTEGER},
      </if>
      <if test="uRate != null" >
        U_RATE = #{uRate,jdbcType=INTEGER},
      </if>
      <if test="updator != null" >
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorName != null" >
        UPDATOR_NAME = #{updatorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="base64Password != null" >
        BASE64_PASSWORD = #{base64Password,jdbcType=VARCHAR},
      </if>
    </set>
    where U_ID = #{uId,jdbcType=VARCHAR}
  </update>
  <update id="amendLoginInfo" parameterType="java.util.HashMap">
    UPDATE SYS_USER SET U_LOGINIP = #{loginIp,jdbcType=VARCHAR} , U_LOGINTIME = SYSDATE WHERE USER_NAME = #{username,jdbcType=VARCHAR}
  </update>
</mapper>